.video-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.local-video-wrapper-container {
  justify-content: center;
  width: 100%;
  height: 90%;
}
.local-video-wrapper {
  height: 45%;
  width: 100%;
  background-color: #fff;
}
.local-video-wrapper1 {
  height: 45%;
  width: 100%;
}
#localVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#remoteVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#remoteVideo.hide {
  display: none;
}
.video-wrapper .status {
  display: flex;
  justify-content: center;
  align-items: center;
  color: greenyellow;
  height: 50vh;
}
.controls{
  width: 100%;
  height: 10%;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  background-color:rgb(91, 115, 232);
}
.control-btn{
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 64px;
}
.control-close-btn {
  background: transparent;
  outline: none;
  border: none;
  box-shadow: 1px 1px 8px black;
  border-radius: 50%;
  background-color: #fff;
  height: 64px;
  width: 64px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -32px;
}
.video-header-view {
  height: 10%;
  background: rgb(91, 115, 232);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-header-text {
  color: #fff;
  size: 25px;
}
.back-btn {
  position: absolute;
  right: 10px;
  background: transparent;
  outline: none;
  border: none;
  height: 64px;
  width: 64px;
}
.back-icon {
  color: white;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 480px) {
  .video-wrapper {
    position: relative;
    max-width: 100vw;
}
  #remoteVideo {
    width: 100%;
    height: auto;
  }
}

