.chat-header-view {
  height: 60px;
  background: rgb(91, 115, 232);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-header-name {
  color: #fff;
  size: 25px;
}
.chat-header-video-btn {
  width: 100px;
  border: none;
  color: #fff;
  background-color: transparent;
}
.chat-header-video-icon {
  fill: white;
  width: 30px;
  height: 30px;
}
.chat-header-cancel-btn {
  width: 100px;
  border: none;
  color: #fff;
  background-color: transparent;
}
.chat-header-cancel-icon {
  fill: #fff;
  width: 30px;
  height: 30px;
}
