.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App .react-chatbot-kit-chat-container {
  border: 2px solid rgb(91, 115, 232);
  width: 450px !important;
  height: 80% !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 0% !important;
}
.react-chatbot-kit-chat-inner-container {
  height: 100% !important;
}
.react-chatbot-kit-chat-message-container {
  height: 85% !important;
}
.react-chatbot-kit-chat-bot-message {
  width: auto !important;
  max-width: 300px !important;
}
.react-chatbot-kit-chat-message-container {
  overflow: auto;
}
.react-chatbot-kit-chat-btn-send {
  border-bottom-right-radius: 0px;
}
.react-chatbot-kit-chat-input-container {
  border-top: 2px solid rgb(91, 115, 232);
}
